/*
background purple: #540B51
background ivory: #F3EAE2
button blue: #4285F4
titles black: #191817
paragraph black: #000000
paragraph yellow: #ECB12F
links blue: #2E71A6
footer links grey: #454245
*/

html {
    font-size: 10px;
}

body {
    height: 100vh;
    width: 100vw;
}

h2 {
    font-size: 5rem;
}

h3 {
    font-size: 4rem;
}

p {
    font-size: 3rem;
}

a {
    font-size: 3rem;
}

.hidden-sm {
    display: none;
    height: 0px;
    width: 0px;
}

#navbar {
    background-color: #540B51;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav-button {
    background-color: transparent;
    border: none;
}

#hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#hero-button-container {
    display: flex;
    flex-direction: column;
    width: 95vw;
}

#sign-google>img {
    width: 4%;
    height: auto;
    background: white;
}

#sign-google {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 6vh;
    margin: 5px;
    border-radius: 5px;
    font-size: 2rem;
}

#sign-email {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6vh;
    margin: 5px;
    border-radius: 5px;
    font-size: 2rem;
}

#hero-product>img {
    max-width: 100vw;
    margin-top: 2vh;
}

#logo-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#logos>img {
    width: 25vw;
    height: auto;
    padding: 1%;
}

#logos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 99vw;
}

#team-together>img {
    max-width: 100%;
}

#team-together {
    display: flex;
    flex-direction: column;
}

#how-to-work {
    display: flex;
    flex-direction: column-reverse;
    margin-top: 10px;
}

#mobile-flexibility>img {
    max-width: 100%;
    margin-top: 100px;
}

#mobile-speed {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
}

#mobile-speed-img>img {
    max-width: 100%;
}

#tools {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
}

#teams {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#teams-buttons {
    display: flex;
    flex-direction: column;
    width: 90%;
}

.team-button {
    padding: 3%;
    margin: 5px;
    font-size: 3rem;
}

#digital-sales {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}

#digital-sales>button {
    width: 90vw;
}

#footer-links {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#footer-links>ul {
    list-style-type: none;
    font-size: 2rem;
}

.ul-bolds {
    font-weight: bold;
}

.footer-li-margin {
    margin-bottom: 30%;
}

#footer-end {
    display: flex;
    flex-direction: column;
    font-size: 2rem;
}

#footer-end>li {
    list-style-type: none;
    padding: 3vh;
}

#footer-logos {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 32px;
    list-style-type: none;
}

small {
    font-size: large;
}